<template>
    <div id="vue-table" @click.left="hideEdit">
        <input class="found" placeholder="find" type="text" v-model="keyWord">
        <table>
            <tr> 
                <th 
                    v-if="header"
                    v-for="(itemHead, i) in header" 
                    @click="sortColumn(i)"
                    :class="{ active: sortKey == i }"
                    :key="i">
                        {{itemHead}}
                </th>
            </tr>
            <tr 
                v-if="filterData"
                v-for="(items, key) in filterData" 
                @click.right.prevent="showEdit(key, $event, items)"
                :key="key">
                    <td v-for="(item, key1) in items"
                        :key="key1">
                            {{item}}
                    </td>
            </tr>
        </table>
        <div class="contextMenu" 
            v-if="showContext" 
            @click="openPopup()"
            :style="`left: ${posX}px; top: ${posY}px`">edit</div>

            <div class="popup" v-if="showPopup">
                <h4>Edit</h4>     
                <label>
                    <span>name</span>
                    <input type="text" :value="tmpSelectObj.name" @input="editField.name = $event.target.value">
                </label>
                <label>
                    <span>height</span>
                    <input type="text" :value="tmpSelectObj.height" @input="editField.height = $event.target.value">
                </label>
                <label>
                    <span>mass</span>
                    <input type="text" :value="tmpSelectObj.mass" @input="editField.mass = $event.target.value">
                </label>
                <label>
                    <span>hair color</span>
                    <input type="text" :value="tmpSelectObj.hair_color" @input="editField.hair_color = $event.target.value">
                </label>
                <label>
                    <span>skin color</span>
                    <input type="text" :value="tmpSelectObj.skin_color" @input="editField.skin_color = $event.target.value">
                </label>
                <label>
                    <span>eye color</span>
                    <input type="text" :value="tmpSelectObj.eye_color" @input="editField.eye_color = $event.target.value">
                </label>
                <label>
                    <span>birth year</span>
                    <input type="text" :value="tmpSelectObj.birth_year" @input="editField.birth_year = $event.target.value">
                </label>
                <label>
                    <span>gender</span>
                    <input type="text" :value="tmpSelectObj.gender" @input="editField.gender = $event.target.value">
                </label>

                <div class="buttonContainer">
                    <button @click="closePopup">close</button>
                    <button @click="saveRecord">save</button>
                </div>
            </div>
    </div>
</template>

<script>
export default {
    props: ['inputData'],
    data(){
        return{
            sortKey: '',
            keyWord: '',
            posX: 0,
            posY: 0,
            showContext: false,
            showPopup: false,
            recordId: '',
            tmpSelectObj: {},
            editField: {},
            tmp: {}
        }
    },
    computed: {
        header(){
            return this.inputData.titles; 
        },
        filterData(){
            var sortKey = this.sortKey;
            var keyWord = this.keyWord && this.keyWord.toLowerCase()
            var data = this.inputData.items;
            if (keyWord) {
                data = data.filter(function (res) {
                    return Object.keys(res).some(function (key) {
                        return String(res[key]).toLowerCase().includes(keyWord)
                    })
                })
            }
            if (sortKey && data) {
                data = data.slice().sort(function (a, b) {
                    a = a[sortKey]
                    b = b[sortKey]
                    if(a >= 0 && b >= 0){
                        // если число
                        a = Number(a);
                        b = Number(b);
                    }
                    return (a === b ? 0 : a > b ? 1 : -1)
                })
            }
            return data 
        }
    },
    methods: {
        hideEdit(){
            this.showContext = false;
        },
        showEdit(key, e, itm){
            this.posX = e.x;
            this.posY = e.y;
            this.showContext = true;
            this.tmpSelectObj = itm;
            this.recordId = key;
        },
        sortColumn(column){
            this.sortKey = column;
        },
        openPopup(){
           this.showPopup = true;
           for(let key in this.tmpSelectObj){
               this.editField[key] = this.tmpSelectObj[key];
           }
        },
        saveRecord(){
            // если бы был id то все работало так как нужно, а так при отсортированом списке, 
            // и дальнейшем редактировании поля может не совсем корректно работать, поскольку 
            // невозможно определить начальный индекс в текущем масиве
            this.inputData.items[this.recordId] = this.editField;
            this.showPopup = false;
        },
        closePopup(){
            this.showPopup = false;
        }
    }
}
</script>

<style lang="scss">
  #vue-table {
      position: relative;
      .popup{
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          background-color: #fff;
          border: 1px solid #ccc;
          box-shadow: 2px 2px 5px #ccc;
          padding: 0 30px 20px;
          width: 300px;
          label{
              display: block;
              margin-bottom: 10px;
              span{
                  display: block;
              }
              input{
                  width: 100%;
                  max-width: calc(100% - 25px);
                  border: 1px solid #ccc;
                  height: 24px;
                  padding: 0 10px;
              }
          }
      }
      .contextMenu{
          position: absolute;
          z-index: 2;
          background-color: #fff;
          border: 1px solid #ccc;
          box-shadow: 2px 2px 5px #ccc;
          padding: 3px 10px;
          cursor: pointer;
      }
      .found{
        width: 33%;
        height: 24px;
        margin: 10px 0 20px;
        border: 1px solid #ccc;
        padding: 0 10px;
      }
      table{
          width: 100%;
          border-collapse: collapse;
          tr{
              th{
                border: 1px solid #a8a8a8;
                height: 40px;
                &:nth-child(1){
                    text-align: left;
                    padding: 0 10px;

                }
              }
              td:not(:nth-child(1)){
                text-align: center;
                padding: 0;
              }
              td{
                border: 1px solid #a8a8a8;
                height: 30px;
                padding: 0 10px;
              }
          }
      }
  }

</style>
